@tailwind base;
@tailwind components;
@tailwind utilities;



body{
  color: #aa8875;
  /* color: #3d3935; */
  background: #f8f5f2;
}

.cont {
  background-color: #282420;
}

.font-1 {
  color:#b86231
}